.grid {
  display: -ms-grid;
  display: grid;
}

.sec1 {
  grid-column: 1/5;
  grid-row: 1/2;
  border: solid orange 1.5px;
}

.sec2 {
  grid-column: 1/2;
  grid-row: 2/3;
  border: solid blue 1.5px;
}

.sec3 {
  grid-column: 2/3;
  grid-row: 2/3;
  border: solid blue 1.5px;
}

.sec4 {
  grid-column: 3/4;
  grid-row: 2/3;
  border: solid blue 1.5px;
}

.sec5 {
  grid-column: 4/5;
  grid-row: 2/3;
  border: solid blue 1.5px;
}

.sec6 {
  grid-column: 1/5;
  grid-row: 3/4;
  border: solid orange 1.5px;
}